.node circle {
    fill: #fff;
    stroke: #fff;
    stroke-width: 1.5px;
}
.node {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
}

.node {
	cursor: pointer;
}

.link {
	cursor: pointer;
}